# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
env/
venv/

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
